In [60]:
dt = {}
ls = []

dt['a']=15
ls.append(dt)
print(ls)
dt['b']=15
ls.append(dt['b'])
print(ls)
dt['c']=15
ls.append(dt['c'])
print(ls)

[{'a': 15}]
[{'a': 15, 'b': 15}, 15]
[{'a': 15, 'b': 15, 'c': 15}, 15, 15]

In [2]:
!pip install nsepy

Collecting nsepy
  Downloading https://files.pythonhosted.org/packages/89/52/2e9f0de0c687ad181f17e0783319d31d66869c410793c5b94dc6cd4b3db2/nsepy-0.8.tar.gz
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from nsepy) (4.6.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from nsepy) (2.23.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from nsepy) (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from nsepy) (1.1.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nsepy) (1.15.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nsepy) (7.1.2)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from nsepy) (4.2.6)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->nsepy) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->nsepy) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->nsepy) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->nsepy) (1.24.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->nsepy) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->nsepy) (2018.9)
Building wheels for collected packages: nsepy
  Building wheel for nsepy (setup.py) ... done
  Created wheel for nsepy: filename=nsepy-0.8-cp37-none-any.whl size=36085 sha256=aab6082878cddf77dd866c83fef64bbb6216158285ff475c406cfcc39e7f4b7a
  Stored in directory: /root/.cache/pip/wheels/05/2c/72/5324e267426eea65dec0c21a12a48b15887c0cf686c7a8fe11
Successfully built nsepy
Installing collected packages: nsepy
Successfully installed nsepy-0.8

In [58]:
from nsepy.history import get_price_list
from datetime import date

startprices = get_price_list(dt=date(2021,1,1)) 
todayprices = get_price_list(dt=date(2021,6,8)) 
startOHCL = startprices[['SYMBOL','OPEN','HIGH','CLOSE','LOW']]
todayOHCL = todayprices[['SYMBOL','OPEN','HIGH','CLOSE','LOW']]

list1 = list(range(429))
# print(list1) 



# print((startOHCL[startOHCL['CLOSE'] < 70]).sort_values(by='SYMBOL').reset_index())
startval = (startOHCL[startOHCL['CLOSE'] < 70]).sort_values(by='SYMBOL').reset_index()

# print((todayOHCL[todayOHCL['CLOSE'] < 70]).sort_values(by='SYMBOL',ascending=False).reset_index())
endval= (todayOHCL[todayOHCL['CLOSE'] < 600]).sort_values(by='SYMBOL').reset_index()

#print(startval.iloc[0][1], endval, sep="\n")
# result = dataframe1[~dataframe1.column1.isin(common.column1)]
pct = {}
# print(startval)
notpresent = []

startvalbyindex = startval.set_index((startval['SYMBOL']))
endvalbyindex = endval.set_index((endval['SYMBOL']))

print('---------------------------start OHCL -------------------------')
print('Jan value', (startvalbyindex.loc['20MICRONS']))
print('')
print('---------------------------today OHCL -------------------------')
print('Today value',(endvalbyindex.loc['20MICRONS']))

# print('high difference' ,((int((endvalbyindex.loc['20MICRONS']).CLOSE))-(int((startvalbyindex.loc['20MICRONS']).CLOSE)))/(int((startvalbyindex.loc['20MICRONS']).CLOSE)) )

---------------------------start OHCL -------------------------
Jan value index             0
SYMBOL    20MICRONS
OPEN          40.75
HIGH           40.8
CLOSE         40.05
LOW            39.8
Name: 20MICRONS, dtype: object

---------------------------today OHCL -------------------------
Today value index             0
SYMBOL    20MICRONS
OPEN          63.95
HIGH           69.5
CLOSE            66
LOW            63.6
Name: 20MICRONS, dtype: object

In [71]:
import pandas as pd
ck=[]
for i in list(startval.SYMBOL):
  try:
    #i= '20MICRONS'
    change = ((int((endvalbyindex.loc[i]).CLOSE))-(int((startvalbyindex.loc[i]).CLOSE)))/(int((startvalbyindex.loc[i]).CLOSE))
    if(change > 0.7 ):
      # print(i, startvalbyindex.loc[i].CLOSE, endvalbyindex.loc[i].CLOSE ,sep='-')
      data = [str(i), int(startvalbyindex.loc[i].CLOSE), int(endvalbyindex.loc[i].CLOSE), change]
      ck.append(data)
  except:
    pass
#print((list(startval.SYMBOL)))
# print(ck)

df = pd.DataFrame(ck, columns = ['Stock Name', 'JAN price','JUNE price ','change'])
print(df.sort_values(by='change',ascending=False))

df.to_csv('stocks_list.csv')

    Stock Name  JAN price  JUNE price     change
46     MAJESCO         16           96  5.000000
44       MAGMA         40          154  2.850000
27  HEXATRADEX         33          118  2.575758
1   ADANIPOWER         50          151  2.020000
43        LPDC          1            3  2.000000
..         ...        ...          ...       ...
77  TIMETECHNO         49           85  0.734694
66       SETCO         11           19  0.727273
61      RENUKA         11           19  0.727273
34        IZMO         47           80  0.702128
22     GENESYS         67          114  0.701493

[82 rows x 4 columns]

In [61]:
import pandas as pd

data = [['tom', 10,20], ['nick', 15,30], ['juli', 14,40]]

data.append(['roi',8,18])  

# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['Stock Name', 'JAN','JUNE'])
  
# print dataframe.
df

  Stock Name  JAN  JUNE
0        tom   10    20
1       nick   15    30
2       juli   14    40
3        roi    8    18